/* Make margins of all elements 0 by default. */
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

#website-title {
    font-weight: bolder;
    text-align: center;
    color: greenyellow;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: xx-large;
}

#main-menu {
    background-color: lightgoldenrodyellow;
    padding-left: 0.5em;
    list-style: none;
}

.nav-link {
    color:black;
    text-decoration: none;
}

.nav-link-li {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: x-large;
}

.nav-link-li:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

.nav-link-selected {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: x-large;
    font-weight: bolder;
    background-color: lightpink;
}

#proj-menu {
    background-color: lightcyan;
    padding-left: 0.5em;
    list-style: none;
}

.proj-nav-link {
    color:black;
    text-decoration: none;
}

.proj-nav-link-li {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
}

.proj-nav-link-li:hover {
    background-color: lightgreen;
    font-weight: bold;
}

.proj-nav-link-selected {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
    font-weight: bolder;
    background-color: violet;
}

/* sr-only class recommended by https://webaim.org/techniques/css/invisiblecontent/#techniques */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

main {
    padding: 1em;
}

h1 {
    padding-bottom: 0.5em;
}

/* code element formatting adapted from suggestions at https://www.w3schools.com/tags/tag_code.asp */
code {
    font-family: Consolas,"courier new";
    color: darkred;
    background-color: #f1f1f1;
    padding: 2px;
}
